.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.freeBox__o50Zr {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__o50Zr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__o50Zr > :global(.__wab_flex-container) > *,
.freeBox__o50Zr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o50Zr > :global(.__wab_flex-container) > picture > img,
.freeBox__o50Zr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__oFwNy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oFwNy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oFwNy > :global(.__wab_flex-container) > *,
.freeBox__oFwNy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oFwNy > :global(.__wab_flex-container) > picture > img,
.freeBox__oFwNy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__kc7A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox___5MGdb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__gsZrl {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
}
.freeBox__olTzm {
  font-size: 20px;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
  line-height: 28px;
}
.freeBox__kfuf5 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kfuf5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kfuf5 > :global(.__wab_flex-container) > *,
.freeBox__kfuf5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kfuf5 > :global(.__wab_flex-container) > picture > img,
.freeBox__kfuf5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__dJuey:global(.__wab_instance) {
  position: relative;
}
.svg___1O0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__nqDRl {
  height: auto;
}
.svg___9UFrg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__miMye:global(.__wab_instance) {
  position: relative;
}
.svg__lcLq7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__h5Um {
  height: auto;
  font-weight: 400;
}
.svg__ppVhF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__gXzX6 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__gXzX6 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gXzX6 > :global(.__wab_flex-container) > *,
.freeBox__gXzX6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gXzX6 > :global(.__wab_flex-container) > picture > img,
.freeBox__gXzX6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___1Y6Xn {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox___6WO4Z {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___6WO4Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6WO4Z > :global(.__wab_flex-container) > *,
.freeBox___6WO4Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6WO4Z > :global(.__wab_flex-container) > picture > img,
.freeBox___6WO4Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vmzEx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__vmzEx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vmzEx > :global(.__wab_flex-container) > *,
.freeBox__vmzEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vmzEx > :global(.__wab_flex-container) > picture > img,
.freeBox__vmzEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__fXxYz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ppRzt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__iT4Sw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__qTjBv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__klXn6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__fcxBi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__pwl7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pwl7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pwl7 > :global(.__wab_flex-container) > *,
.freeBox__pwl7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pwl7 > :global(.__wab_flex-container) > picture > img,
.freeBox__pwl7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__xlcUf:global(.__wab_instance) {
  position: relative;
}
.divider__rShi:global(.__wab_instance) {
  position: relative;
}
.freeBox__qsp4L {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qsp4L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qsp4L > :global(.__wab_flex-container) > *,
.freeBox__qsp4L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qsp4L > :global(.__wab_flex-container) > picture > img,
.freeBox__qsp4L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button___6N3Kh:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__aAZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__wu9Zy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: qQ0KXQHSIe4E */;
}
.divider__rhZlq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__qCtfc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__k7M2D {
  position: relative;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__maxG {
  object-fit: cover;
  width: 40px;
}
.img__maxG > picture > img {
  object-fit: cover;
}
.img__maxG > .__wab_img-spacer > img {
  object-fit: cover;
}
.button___95KSl:global(.__wab_instance) {
  position: relative;
}
.svg___4BGd2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__cl1LV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button___2FUqK:global(.__wab_instance) {
  position: relative;
}
.svg__cmHx2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__r3HRm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button___72TW3:global(.__wab_instance) {
  position: relative;
}
.svg__omBs4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg___6LUvi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__nHkO:global(.__wab_instance) {
  position: relative;
}
.svg__er3Mn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__idMc4 {
  height: auto;
}
.svg__ic3Zn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__eAaPd:global(.__wab_instance) {
  position: relative;
}
.svg__t7Un {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__dqSuV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__c1IwN:global(.__wab_instance) {
  position: relative;
}
.svg__y6LHw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg___2ZTib {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__ed6Nq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__wjyhV {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__wjyhV > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wjyhV > :global(.__wab_flex-container) > *,
.freeBox__wjyhV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wjyhV > :global(.__wab_flex-container) > picture > img,
.freeBox__wjyhV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__saNFu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  line-height: 1;
}
.freeBox__r17P {
  font-size: 20px;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
  text-align: left;
  line-height: 28px;
}
.freeBox__uIaXq {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__uIaXq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__uIaXq > :global(.__wab_flex-container) > *,
.freeBox__uIaXq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uIaXq > :global(.__wab_flex-container) > picture > img,
.freeBox__uIaXq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__th4Fz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__th4Fz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__th4Fz > :global(.__wab_flex-container) > *,
.freeBox__th4Fz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__th4Fz > :global(.__wab_flex-container) > picture > img,
.freeBox__th4Fz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__th4Fz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__th4Fz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__th4Fz > :global(.__wab_flex-container) > *,
  .freeBox__th4Fz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__th4Fz > :global(.__wab_flex-container) > picture > img,
  .freeBox__th4Fz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop___9Dysi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9GI4P {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___1LxPw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop__c6To1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pIbrG {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__qNnUf {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop___0PDdd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__onBCm {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__mMxvA {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop__tNfBo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3PVyB {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___17Mn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.freeBox__jQizu {
  height: auto;
}
.freeBox___8OMiH {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox___8OMiH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___8OMiH > :global(.__wab_flex-container) > *,
.freeBox___8OMiH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8OMiH > :global(.__wab_flex-container) > picture > img,
.freeBox___8OMiH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__rd4Ge {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rd4Ge > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__rd4Ge > :global(.__wab_flex-container) > *,
.freeBox__rd4Ge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rd4Ge > :global(.__wab_flex-container) > picture > img,
.freeBox__rd4Ge
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rd4Ge {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rd4Ge > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rd4Ge > :global(.__wab_flex-container) > *,
  .freeBox__rd4Ge > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rd4Ge > :global(.__wab_flex-container) > picture > img,
  .freeBox__rd4Ge
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__dCbEm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eOHtg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__zKErt {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.freeBox__cy8IU {
  height: auto;
}
.valueprop__rWeOk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rsCn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___7SjHm {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop__xwlfh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__g5Sct {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__gh4J {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop__cKlxa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cdWqr {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ef4EX {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.freeBox___9HokF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__cSkrs {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__cSkrs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cSkrs > :global(.__wab_flex-container) > *,
.freeBox__cSkrs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cSkrs > :global(.__wab_flex-container) > picture > img,
.freeBox__cSkrs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__g3Nel {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: aNqUVEJ0YxiE */;
}
.h2__e0LR4 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
  line-height: 1;
}
.freeBox__mnv2 {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: qQ0KXQHSIe4E */;
  line-height: 28px;
  height: auto;
}
.button__oCaew:global(.__wab_instance) {
  position: relative;
}
.svg__gRYhL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__fPv7T {
  color: #0a84ff /* plasmic-token: T2eWfuneXrlc */;
}
.svg__xGUhX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: T2eWfuneXrlc */;
}
.freeBox__zIgzK {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem___74FUx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kdDCq {
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
}
.svg___1DSaw {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: aNqUVEJ0YxiE */;
}
.listItem__eHvDi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__jfV6L {
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
}
.svg__hydh1 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: aNqUVEJ0YxiE */;
}
.listItem__muTcf:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__sDiK {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
}
.svg__ob3Ja {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: aNqUVEJ0YxiE */;
}
.listItem__id5Mq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__s2Zxr {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
}
.svg__mm0Fw {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: aNqUVEJ0YxiE */;
}
.listItem__uzZb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__vfLNz {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
}
.svg__rLoDd {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: aNqUVEJ0YxiE */;
}
.freeBox___55YJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__c5JSp {
  display: flex;
  flex-direction: column;
}
.freeBox__c5JSp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__c5JSp > :global(.__wab_flex-container) > *,
.freeBox__c5JSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c5JSp > :global(.__wab_flex-container) > picture > img,
.freeBox__c5JSp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rtVvI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__eNhZa {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
  line-height: 1;
}
.freeBox__gIRgA {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: qQ0KXQHSIe4E */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___6Olwb {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox___6Olwb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Olwb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Olwb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Olwb > :global(.__wab_flex-container) > *,
  .freeBox___6Olwb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6Olwb > :global(.__wab_flex-container) > picture > img,
  .freeBox___6Olwb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___4Ix6W {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Ix6W {
    border-radius: 16px;
  }
}
.freeBox___9KAen {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___9KAen > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9KAen > :global(.__wab_flex-container) > *,
.freeBox___9KAen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9KAen > :global(.__wab_flex-container) > picture > img,
.freeBox___9KAen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__oqi59 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__bSnEb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bSnEb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__bSnEb > :global(.__wab_flex-container) > *,
.freeBox__bSnEb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bSnEb > :global(.__wab_flex-container) > picture > img,
.freeBox__bSnEb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__cLihd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___1Lrlh {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  width: auto;
  display: inline-block;
}
.freeBox__bX9QO {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  width: auto;
  display: inline-block;
}
.freeBox__kmkd9 {
  line-height: 28px;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider___9GBkg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__wuJqw {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__wuJqw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wuJqw > :global(.__wab_flex-container) > *,
.freeBox__wuJqw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wuJqw > :global(.__wab_flex-container) > picture > img,
.freeBox__wuJqw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___8GxD3 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___8GxD3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8GxD3 > :global(.__wab_flex-container) > *,
.freeBox___8GxD3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8GxD3 > :global(.__wab_flex-container) > picture > img,
.freeBox___8GxD3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__aaVpQ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uOlcw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__naCsn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop__sTez:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qRiNq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__mZjXy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.svg___2F30X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__fcYwu {
  height: auto;
}
.svg__u2Kh4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__dC39L {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: xVd9r8QwglnT */;
}
.freeBox__ixzrC {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__ixzrC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ixzrC > :global(.__wab_flex-container) > *,
.freeBox__ixzrC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ixzrC > :global(.__wab_flex-container) > picture > img,
.freeBox__ixzrC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hnNuO {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__kkfnQ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kkfnQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kkfnQ > :global(.__wab_flex-container) > *,
.freeBox__kkfnQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kkfnQ > :global(.__wab_flex-container) > picture > img,
.freeBox__kkfnQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__pP5G8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__i3S4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  width: auto;
  display: inline-block;
}
.freeBox__mslx1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  width: auto;
  display: inline-block;
}
.freeBox__cPPnY {
  line-height: 28px;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__yBbjf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___9LPdZ {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox___9LPdZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___9LPdZ > :global(.__wab_flex-container) > *,
.freeBox___9LPdZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9LPdZ > :global(.__wab_flex-container) > picture > img,
.freeBox___9LPdZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__yxaYf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yxaYf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yxaYf > :global(.__wab_flex-container) > *,
.freeBox__yxaYf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yxaYf > :global(.__wab_flex-container) > picture > img,
.freeBox__yxaYf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__uaRjY:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__whWbB {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__marZ4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop__qx52O:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__cMmuh {
  height: auto;
}
.svg__kfGtQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__hpKp8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop___7Jd2H:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6IIgv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__oyuQ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop___3LNmV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__zja3C {
  height: auto;
}
.svg__uSSjQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___0MPe9 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.svg__af5Bl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__sgaFt {
  height: auto;
}
.svg__ix5D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__k3YLk {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k3YLk {
    border-radius: 16px;
  }
}
.freeBox__wbZKc {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__wbZKc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wbZKc > :global(.__wab_flex-container) > *,
.freeBox__wbZKc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wbZKc > :global(.__wab_flex-container) > picture > img,
.freeBox__wbZKc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___4LpPn {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__p8Vi {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__p8Vi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__p8Vi > :global(.__wab_flex-container) > *,
.freeBox__p8Vi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p8Vi > :global(.__wab_flex-container) > picture > img,
.freeBox__p8Vi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ppq8R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__liAi {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  width: auto;
  display: inline-block;
}
.freeBox__wgCpS {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  width: auto;
  display: inline-block;
}
.freeBox__hTheo {
  line-height: 28px;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___8QXei:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__hiGxb {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__hiGxb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__hiGxb > :global(.__wab_flex-container) > *,
.freeBox__hiGxb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hiGxb > :global(.__wab_flex-container) > picture > img,
.freeBox__hiGxb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__uNdz2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__uNdz2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uNdz2 > :global(.__wab_flex-container) > *,
.freeBox__uNdz2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uNdz2 > :global(.__wab_flex-container) > picture > img,
.freeBox__uNdz2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__lwldm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wf6Cq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__aO9th {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.valueprop__e8A75:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uGdgX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__q5R58 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: HBDxHRTLhnia */;
}
.svg__nen7O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__xS4Hg {
  height: auto;
}
.svg__axPzI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner___9TeuC:global(.__wab_instance) {
  position: relative;
}
.img__xYv7W {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__xYv7W > picture > img {
  object-fit: cover;
}
.img__xYv7W > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__xysiI {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox___4Le3J {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  line-height: 1;
  height: auto;
}
.svg__bbSxW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox___3AI2B {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 5-RgqhAlR_1t */;
  white-space: pre;
  display: inline-block;
}
.svg__jEaPx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__gekti {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__gekti > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__gekti > :global(.__wab_flex-container) > *,
.freeBox__gekti > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gekti > :global(.__wab_flex-container) > picture > img,
.freeBox__gekti
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gekti {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gekti > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gekti > :global(.__wab_flex-container) > *,
  .freeBox__gekti > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gekti > :global(.__wab_flex-container) > picture > img,
  .freeBox__gekti
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__sVmJr {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__sVmJr > picture > img {
  object-fit: cover;
}
.img__sVmJr > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__rQvI7 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__kjXy {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  line-height: 1;
  height: auto;
}
.svg__kLxA4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__h45Iy {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 5-RgqhAlR_1t */;
  white-space: pre;
  display: inline-block;
}
.svg__kGt2N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.banner__c6QHz:global(.__wab_instance) {
  position: relative;
}
.img__maJsn {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__maJsn > picture > img {
  object-fit: cover;
}
.img__maJsn > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pkFQt {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__yx1F5 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
  line-height: 1;
  height: auto;
}
.svg__bkub4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__kokOn {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 5-RgqhAlR_1t */;
  white-space: pre;
  display: inline-block;
}
.svg__oB07 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__skeq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__skeq > picture > img {
  object-fit: cover;
}
.img__skeq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__yTinq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__yTinq > picture > img {
  object-fit: cover;
}
.img__yTinq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ubZiq {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ubZiq > picture > img {
  object-fit: cover;
}
.img__ubZiq > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__f8QVd {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__f8QVd > picture > img {
  object-fit: cover;
}
.img__f8QVd > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___7NAq3 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___7NAq3 > picture > img {
  object-fit: cover;
}
.img___7NAq3 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__tNysT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial__x1Zth:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__vUaTp {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__seGaK:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__eu0Rz {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__eu0Rz > picture > img {
  object-fit: cover;
}
.img__eu0Rz > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__kCbqd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__bRp2 {
  height: auto;
}
.freeBox__aaVlv {
  height: auto;
}
.img__iHwyv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__iHwyv > picture > img {
  object-fit: cover;
}
.img__iHwyv > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__ttMv6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__mgDz {
  height: auto;
}
.img__kKglo {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__xiXl4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img__xiXl4 > picture > img {
  object-fit: cover;
}
.img__xiXl4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___6BdeO {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox__hcqDn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hcqDn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hcqDn > :global(.__wab_flex-container) > *,
.freeBox__hcqDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hcqDn > :global(.__wab_flex-container) > picture > img,
.freeBox__hcqDn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___4K3Qc {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
}
.freeBox__wJoqC {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 7q7Fq7fYMb43 */;
  line-height: 1;
}
.freeBox___8Rckb {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: qQ0KXQHSIe4E */;
  line-height: 28px;
}
.freeBox__rum5U {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rum5U > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rum5U > :global(.__wab_flex-container) > *,
.freeBox__rum5U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rum5U > :global(.__wab_flex-container) > picture > img,
.freeBox__rum5U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___8Hvws:global(.__wab_instance) {
  position: relative;
}
.svg__yXuvR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg___2Je7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__zvSwC:global(.__wab_instance) {
  position: relative;
}
.svg__mMkRv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__fcbGf {
  height: auto;
  font-weight: 400;
}
.svg__e2VJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
