.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navigation__uAf02:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img___2LZrF {
  object-fit: cover;
  width: 40px;
}
.img___2LZrF > picture > img {
  object-fit: cover;
}
.img___2LZrF > .__wab_img-spacer > img {
  object-fit: cover;
}
.button___9Qney:global(.__wab_instance) {
  position: relative;
}
.svg__mPq1T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__dVqXz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__kiDw2:global(.__wab_instance) {
  position: relative;
}
.svg__eX3O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__tfLAw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__i3GU:global(.__wab_instance) {
  position: relative;
}
.svg__jOcru {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__zyaLo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__bpbgU:global(.__wab_instance) {
  position: relative;
}
.svg__z8VXr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg___8Rx6B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__qxFUw:global(.__wab_instance) {
  position: relative;
}
.svg__sLzsU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg___8VVzi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__w8R4:global(.__wab_instance) {
  position: relative;
}
.svg__ixSqw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg___1XQKi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.hero3 {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 128px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero3 {
    padding: 256px 32px 32px;
  }
}
.img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.background3 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff80;
}
.foreground {
  display: flex;
  position: relative;
  max-width: 1920px;
}
.foreground > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___0Qote {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___0Qote > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___0Qote > :global(.__wab_flex-container) > *,
.freeBox___0Qote > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Qote > :global(.__wab_flex-container) > picture > img,
.freeBox___0Qote
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__lutGe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lutGe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lutGe > :global(.__wab_flex-container) > *,
.freeBox__lutGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lutGe > :global(.__wab_flex-container) > picture > img,
.freeBox__lutGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__sG0Xd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__srzPt {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__fqfWg {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: 3smtXcmm7X_x */;
}
.freeBox__uqFg2 {
  font-size: 20px;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
  line-height: 28px;
}
.freeBox__n5Dh0 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__n5Dh0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__n5Dh0 > :global(.__wab_flex-container) > *,
.freeBox__n5Dh0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n5Dh0 > :global(.__wab_flex-container) > picture > img,
.freeBox__n5Dh0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__lupXn:global(.__wab_instance) {
  position: relative;
}
.svg___7APhq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__e540V {
  height: auto;
}
.svg__gNahJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__fpOu:global(.__wab_instance) {
  position: relative;
}
.svg__qbg0H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__vnrnR {
  height: auto;
  font-weight: 400;
}
.svg__nBbm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__mxoNm {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__mxoNm > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mxoNm > :global(.__wab_flex-container) > *,
.freeBox__mxoNm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mxoNm > :global(.__wab_flex-container) > picture > img,
.freeBox__mxoNm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__bfBvw {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox___8YXeY {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox___8YXeY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8YXeY > :global(.__wab_flex-container) > *,
.freeBox___8YXeY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8YXeY > :global(.__wab_flex-container) > picture > img,
.freeBox___8YXeY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rIPcF {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rIPcF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rIPcF > :global(.__wab_flex-container) > *,
.freeBox__rIPcF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rIPcF > :global(.__wab_flex-container) > picture > img,
.freeBox__rIPcF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__sSoRg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ib7RN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__wmHv1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.button__mgwiO:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zCl8F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg___6GNdQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.freeBox__txUqc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__txUqc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__txUqc > :global(.__wab_flex-container) > *,
.freeBox__txUqc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__txUqc > :global(.__wab_flex-container) > picture > img,
.freeBox__txUqc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__tv50:global(.__wab_instance) {
  position: relative;
}
.divider__nwxVq:global(.__wab_instance) {
  position: relative;
}
.freeBox__gFLu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gFLu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gFLu > :global(.__wab_flex-container) > *,
.freeBox__gFLu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gFLu > :global(.__wab_flex-container) > picture > img,
.freeBox__gFLu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__t3A2Z:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__kzskN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
.svg__l7K2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: qQ0KXQHSIe4E */;
}
.divider__fEt04:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___3H9MG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__kdxsr {
  position: relative;
  color: #05050599 /* plasmic-token: ccurH6CKywt9 */;
}
